<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="SorterService.Configuration" type="SorterService.Configuration.SorterServiceConfiguration,SorterService.Configuration" />
  </configSections>

  <SorterService.Configuration>
    <culture name="ru-Ru"></culture>
    <defaultDirectory path="D:\test\default"></defaultDirectory>
    <listenDirectories>
      <listenDirectory path="D:\test"></listenDirectory>
    </listenDirectories>
    <rules addIndexNumber="true" addCreationDate="true">
      <rule fileNameRegexPattern="[a-c]" destinationPath="D:\test\test1"></rule>
      <rule fileNameRegexPattern="[d-k]" destinationPath="D:\test\test2"></rule>
    </rules>
  </SorterService.Configuration>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>