<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="SorterServiceConfiguration" type="SorterServiceConfiguration.SorterServiceConfiguration,SorterServiceConfiguration" />
  </configSections>

  <SorterServiceConfiguration>
    <culture name="ru-Ru"></culture>
    <defaultDirectory path="E:\test\default"></defaultDirectory>
    <listenDirectories>
      <listenDirectory path="E:\test"></listenDirectory>
    </listenDirectories>
    <rules addIndexNumber="true" addCreationDate="true">
      <rule fileNameRegexPattern="[a-c]" destinationPath="E:\test\test1"></rule>
      <rule fileNameRegexPattern="[d-k]" destinationPath="E:\test\test2"></rule>
    </rules>
  </SorterServiceConfiguration>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>